<form [formGroup]="form" (ngSubmit)="onSubmit()">      
        <mat-form-field>
          <label for="username">Username</label>
          <input matInput formControlName="username" name="username" required>
          <mat-error *ngIf="username.invalid">Username is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <label for="password">Password</label>
          <input matInput formControlName="password" required [type]="hidePassword ? 'password' : 'text'" name="password">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword"></mat-icon>
          <mat-error *ngIf="password.invalid">Password is required</mat-error>
        </mat-form-field>
      
        <div>
          <button mat-flat-button type="submit" [disabled]="form.invalid">LOGIN</button>
        </div>
    </form>
