body{
    width: 100%;
    margin-right:2%;
    float: left;
}

label{
    font-family: 'Montserrat', sans-serif;
    margin-left: 12px;
}

input{
    margin-left: 15px;
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: 5px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin-left: 2%;
}

h2{
    background-color:  rgb(199, 6, 6);
}

img{
    width: 25%;
    float: left;
    margin-right:2%;
    margin-left:2%;
}

th,td{
    vertical-align: top;
    padding: 10px;
}

#reserveButton{
    margin-left: 5%;
    padding: 10px;
}

::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: white;
}

