
<html>
<body>
    <h1 class="title">{{ movie.title }}</h1>
    <img src = {{movie.image}}>
    <table>
        <tr><th>Runtime</th><td>{{ movie.runtime }} minutes</td><td rowspan="2"><iframe id="trailer" width="360" height="220" [src]="updateVideoUrl(movie.trailer)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td></tr>
        <tr><th>Description</th><td>{{ movie.description }}</td></tr>  
        <tr><th>Categories</th><td>
            <span *ngFor="let category of movie.categories">{{ category.text }}    </span>
        </td></tr>  
    </table>
    <div>
        Discounted: <input #discounted type="number"> Full price: <input #full type="number">
    </div>
    <div class="reserve">
        <button (click)="setDiscountedAndFull(discounted.value,full.value)" mat-raised-button [routerLink]="['/reservation', movie.id]">Reserve tickets</button>
    </div>
</body>
</html>

