body{
    width: 100%;
    margin-right:2%;
    float: left;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin-left: 2%;
}

img{
    width: 25%;
    float: left;
    margin-right:2%;
    margin-left:2%;
}

th,td{
    vertical-align: top;
    padding: 10px;
}

