
<html>
<body>
    <h1 class="title">{{ movie.title }}</h1>
    <img src = {{movie.image}}>
    <table>
        <tr><th>Runtime</th><td>{{ movie.runtime }} minutes</td><td rowspan="2"><iframe id="trailer" width="360" height="220" [src]="updateVideoUrl(movie.trailer)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td></tr>
        <tr><th>Description</th><td>{{ movie.description }}</td></tr>
        <tr><th>Categories</th><td>
            <span *ngFor="let category of movie.categories">{{ category.text }}    </span>
        </td></tr>  
    </table>
    <h2 class="reserve">Reserve tickets now!</h2>
    <form #reservationForm="ngForm" 
        (ngSubmit)="setDiscountedAndFullAndScreening(discounted.value,full.value,radioSelected.value)">
    <table class="screeningTable">
        <th>Screenings</th>
        <tr *ngFor="let screening of movie.screenings">
            <label for="screening_answer{{screening.dateofscreening}}">
                <input mat-radio-button 
                id="screening_answer_{{screening.dateofscreening}}" 
                [value]='screening.dateofscreening' 
                type="radio" 
                name="screenings" 
                [(ngModel)]="radioSelected" 
                required>
                {{screening.dateString}}
            </label>
        </tr>
    </table>
    <table class="formTable">
      <mat-form-field>
            <th><label for="discountedText">Discounted preis tickets: </label></th>
            <tr><input matInput
              type="number"
              name="discountedText"
              color="white"
              [(ngModel)]="discountedText"
              pattern="[0-9]*"
              required
              #discounted></tr>
        </mat-form-field>
          <mat-error *ngIf="discounted.invalid && (discounted.dirty || discounted.touched) && discounted.errors.required">
                You must enter a value here.
            </mat-error>
        <br>
        <mat-form-field>
            <th><label for="fullText">Full preis tickets: </label></th>
            <tr><input matInput
                type="number"
                name="fullText"
                color="accent"
                [(ngModel)]="fullText"
                pattern="[0-9]*"
                required
                #full></tr>
        </mat-form-field>
            <mat-error *ngIf="full.invalid && (full.dirty || full.touched) && full.errors.required">
                You must enter a value here.
            </mat-error>
        
        <button mat-raised-button
            id="reserveButton" 
            name="reserveButton" 
            (click)="setDiscountedAndFullAndScreening(discounted.value,full.value,radioSelected.value)"  [routerLink]="['/reservation', movie.id]" 
            [disabled]="!reservationForm.valid">
            Reserve tickets</button>
        </table>
    </form>
</body>
</html>

