<form (submit)="submit(reservationForm)" #reservationForm="ngForm">
  <mat-form-field>
    <label for="firstname">Enter First Name</label>
    <input matInput
      type="text"
      name="firstname"
      aria-describedby="firstnameHelp"
      required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <label for="lastname">Enter Last Name</label>
    <input matInput
      type="text"
      name="lastname"
      aria-describedby="lastnameHelp"
      required>
  </mat-form-field>
  <br>
  <button mat-raised-button
    type="submit">
    Book Reservation
  </button>
</form>