<div>
  <p>
    Reserving for {{movie.title}}
  </p>
  <p>
    At: {{screening.dateofscreening}}
  </p>
</div>

<div>
    <p>
        Discounted Tickets: {{discounted}}
      </p>
      <p>
        Full Price Tickets: {{full}}
      </p>
      <p>
        Overall price: {{price}}
      </p>
</div>

<form #reservationForm="ngForm" (ngSubmit)="submit(reservationForm)">
<div class="form-group">
  <mat-form-field>
    <label for="firstnameText">Enter First Name</label>
    <input matInput
      type="text"
      name="firstnameText"
      [(ngModel)]="firstnameText"
      pattern="[A-Za-z]*"
      required
      #firstname="ngModel">
  </mat-form-field>

  <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched) && firstname.errors.required">
      First Name is required!
  </mat-error>

  <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched) && firstname.errors.pattern">
      Your First Name must only contain letters!
    </mat-error>


  <br>
  <mat-form-field>
    <label for="lastnameText">Enter Last Name</label>
    <input matInput
      type="text"
      name="lastnameText"
      [(ngModel)]="lastnameText"
      pattern="[A-Za-z]*"
      required
      #lastname="ngModel">
  </mat-form-field>
  <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched) && lastname.errors.required">
      Last Name is required!
  </mat-error>

  <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched) && lastname.errors.pattern">
      Your Last Name must only contain letters!
    </mat-error>

  <br>
  <mat-form-field>
    <label for="phoneText">Enter Phone Number</label>
    <input matInput
      type="text"
      name="phoneText"
      [(ngModel)]="phoneText"
      pattern="\+36 [0-9]{2} [0-9]{3} [0-9]{4}"
      required
      #phone="ngModel">
  </mat-form-field>
  <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.errors.required">
      Phone Number is required!
  </mat-error>

  <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.errors.pattern">
      Your Phone Number format should be (+36 11 111 1111)
    </mat-error>

  <br>
  <button mat-raised-button
    [disabled]="!reservationForm.valid"
    type="submit"
    color="primary">
    Book Reservation
  </button>
</div>
</form>

Angular Generated Form Model: {{reservationForm.value | json}}