input{
    margin-left: 15px;
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: 5px;
}

label{
    font-family: 'Montserrat', sans-serif;
    margin-left: 12px;
}

button{
    margin: 15px;
}

#submitBtn:valid{
    background-color: rgb(199, 6, 6);
    color: white;
}

#submitBtn{
    background-color: grey;
    color: black;
}

.box {
    text-align: center;
    border: 1px solid white;
    padding: 3ch;
    position: relative;
    min-width: 30ch;
}

header {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
}

footer {
    padding-top: 20px;
}

main {
    padding: 10px 10px;
}

