<form #reservationForm="ngForm" (ngSubmit)="submit(reservationForm)">
<div class="form-group">
  <p>
    Discounted Tickets:
  </p>
</div>
<div class="form-group">
  <mat-form-field>
    <label for="firstname">Enter First Name</label>
    <input matInput
      type="text"
      name="firstname"
      [(ngModel)]="firstname">
  </mat-form-field>
  <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched) && firstname.errors.required">
    Name is required!
  </mat-error>
</div>
  <br>
  <mat-form-field>
    <label for="lastname">Enter Last Name</label>
    <input matInput
      type="text"
      name="lastname"
      [(ngModel)]="lastname">
  </mat-form-field>
  <br>
  <mat-form-field>
    <label for="phone">Enter Phone Number</label>
    <input matInput
      type="text"
      name="phone"
      [(ngModel)]="phone">
  </mat-form-field>
  <br>
  <button mat-raised-button
    [disabled]="!reservationForm.valid"
    type="submit"
    color="primary">
    Book Reservation
  </button>
</form>

Angular Generated Form Model: {{reservationForm.value | json}}